<% const Card = (details) => { %>
<div class="col-sm-6 mt-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= details.name %></h5>
      <p class="card-text">
        <%= details.description %>
      </p>
      <a href="<%= details.url%>" class="btn btn-primary"><%= details.name %></a>
    </div>
  </div>
</div>
<% } %>

<div class="container">
  <section class="row">
    <div class="col">
      <H1 class="display-3 fw-bold mb-3">Welcome to Kingdom Bank</H1>
      <p class="lead mb-5">
        With you every step of the way, More Than Just Banking
      </p>
    </div>
    <div class="col">
      <img src="images/payments.svg" alt="" srcset="" class="img-fluid mb-4" />
    </div>
  </section>
  <section class="container m-6">
    <div class="row">
      <% for (let i = 0; i < features.length; i++) { %> 

        <% const cardDetails = features[i] %>
        <%= Card(cardDetails); %> 
        
      <% } %>
    </div>
  </section>
</div>
